{% extends "esquema.html" %}

{% block title %} Intereses {% endblock %}
	
{% block content %}
	<h5 class="center-align">Selecciona tus rubros preferidos</h5>
	<p class="center-align"><strong>Offertown</strong> seleccionará las ofertas que más te gustan</p>
	<br>
	<div class="row">
	{% for r in rubros %}
			<div onclick="clickCorazon(this)" class="col s12 m4">
				<div class="caja-interes-set hoverable" data-position="top" data-tooltip="Toca el corazón">
					<span class="btn-interes-list">{{r.nombre}}</span>
					<span class="btn-interes-icon">{% include 'rubro/interes_rubro.html' with rubro=r  %}</span>
				</div>
			</div>		
	{% endfor %}

	<div class="fixed-action-btn">
	  <a class="btn-floating btn-large green" data-position="top" data-tooltip="Siguiente" href="{% url 'app_ofertas:index'  %}">
	    <i class="large material-icons">arrow_forward</i>
	  </a>
	</div>

<!--     <div class="row center-align">
    	<a href="{% url 'app_ofertas:index'  %}" class="btn-large waves-effect waves-light">Siguiente</a>
    </div>	
 -->
	</div>
	<script type="text/javascript">
		function clickCorazon(div_hover){
			console.log(div_hover)
			div_hover.children[0].children[1].children[0].click()
		}
	</script>
{% endblock %}

{% block script %}
	<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
  });
	</script>
{% endblock %}