<form action="/search" method="GET">
	<!-- Parte principal del form -->
	<div class="row">
		<div class="input-field col s10">
			{% if param_titulo %}
				<input type="text" value="{{param_titulo}}" name="param_titulo" placeholder="Búsqueda" id="param_titulo">
			{% else %}
				<input type="text" name="param_titulo" placeholder="Búsqueda">
			{% endif %}
			<label for="param_titulo">Buscar:</label>
		</div>
		<div class="input-field col s2 center">
		  <button class="btn waves-effect waves-light" type="submit">
		    <i class="material-icons">search</i>
		  </button>			
		</div>
	</div>
	
	<!-- Filtros para el Form -->
	{% if param_titulo %}
		<!-- input orden param_orden -->
	  <div class="input-field col s12">
	    <select name="param_orden">
	    		<option value="0">Seleccione</option>
	      <optgroup label="Precio">
	      	{% if param_orden == "1" %}
	        	<option value="1" selected>Menor</option>
	      	{% else %}
	      		<option value="1">Menor</option>
	      	{% endif %}
	      	{% if param_orden == "2" %}
	      		<option value="2" selected>Mayor</option>
	      	{% else %}
		        <option value="2">Mayor</option>
	      	{% endif %}
	      </optgroup>
	    </select>
	    <label>Orden</label>
	  </div>

		<!-- input formas de pago -->
		<div class="col s12 m6">
			<p>Método de Pago</p>
      <label>
      	{% if param_payment == "PAY_CASH" %}
					<input type="radio" class="with-gap" name="param_payment" value="PAY_CASH" id="pay_cash" checked>
      	{% else %}
      		<input type="radio" class="with-gap" name="param_payment" value="PAY_CASH" id="pay_cash">
      	{% endif %}
        <span>Efectivo</span>
      </label>
      <label>
      	{% if param_payment == "PAY_CREDIT" %}
      		<input type="radio" class="with-gap" name="param_payment" value="PAY_CREDIT" id="pay_credit" checked>
      	{% else %}
					<input type="radio" class="with-gap" name="param_payment" value="PAY_CREDIT" id="pay_credit">
      	{% endif %}
        <span>Crédito</span>
      </label>      
      <label>
      	{% if param_payment == "PAY_DEBIT" %}
      		<input type="radio" class="with-gap" name="param_payment" value="PAY_DEBIT" id="pay_debit" checked>
      	{% else %}
					<input type="radio" class="with-gap" name="param_payment" value="PAY_DEBIT" id="pay_debit">
      	{% endif %}
        <span>Débito</span>
      </label>
      <label>
      	{% if param_payment == "PAY_ALL" %}
      		<input type="radio" class="with-gap" name="param_payment" value="PAY_ALL" id="pay_all" checked>
      	{% else %}
					<input type="radio" class="with-gap" name="param_payment" value="PAY_ALL" id="pay_all">
      	{% endif %}	      	
        <span>TODOS</span>
      </label>
		</div>
		
		<!-- input delivery param_delivery -->
		<div class="col s12 m6">
			<p>Delivery</p>
      <label>
				{% if param_delivery == "SI" %}
					<input type="checkbox" class="with-gap" name="param_delivery" value="SI" id="delivery_si" checked>
				{% else %}
					<input type="checkbox" class="with-gap" name="param_delivery" value="SI" id="delivery_si">
				{% endif %}
        <span></span>
      </label>
		</div>
	{% endif %}
</form>