{% extends "esquema.html" %}

{% block title %} Editar Horarios {% endblock %}

{% block content %}
<form action="" method="POST" ">
	<br>
	<h5 class="center-align">HORARIOS DE ATENCIÓN</h5>
	<br>
	<div class="row">
		{% csrf_token %}

	 		<!-- acá empieza martes -->	 	
				<div class="col s12 m3 l2">
					<h6 class="nombre-dia">Lunes</h6>
				</div>	 		
			
				<div class=" col s12 m3 l2 ">		
					<label>			
					DESDE
						<input type="text" name="horamd1" id="id_horamd1" placeholder="00:00" maxlength="5" value={{form.horamd1}}>
					</label>
				</div>
			
				<div class=" col s12 m3 l2 ">		
					<label>
					HASTA
						<input type="text" name="horamh1" id="id_horamh1" placeholder="00:00" maxlength="5" value={{form.horamh1}}>
					</label>
				</div>
				<div class="col s2 m1" id="btn-add-lunes" onclick="mostrar_tarde_lunes()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">add</i></a>
				</div>			


				<div class="tarde" id="lunes-tarde">
					<div class=" col s12 m3 l2 ">		
						<label>
						DESDE
						<input type="text" name="horatd1" id="id_horatd1" placeholder="00:00" maxlength="5" value={{form.horatd1}}>
						</label>
					</div>
					<div class=" col s12 m3 l2 ">		
						<label>						
						HASTA
						<input type="text" name="horath1" id="id_horath1" placeholder="00:00" maxlength="5" value={{form.horath1}}>
						</label>
					</div>		
					<div class="col s2 m1" id="btn-less-lunes" onclick="ocultar_tarde_lunes()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">clear</i></a>
					</div>
				</div>			 		
			<!-- finaliza lunes -->	

			<br><br><br><br>
	 		<!-- acá empieza martes -->	 	
				<div class="col s12 m3 l2">
					<h6 class="nombre-dia">Martes</h6>
				</div>	 		
			
				<div class=" col s12 m3 l2 ">		
					<label>			
					DESDE
						<input type="text" name="horamd2" id="id_horamd2" placeholder="00:00" maxlength="5" value={{form.horamd2}}>
					</label>
				</div>
			
				<div class=" col s12 m3 l2 ">		
					<label>
					HASTA
						<input type="text" name="horamh2" id="id_horamh2" placeholder="00:00" maxlength="5" value={{form.horamh2}}>
					</label>
				</div>
				<div class="col s2 m1" id="btn-add-martes" onclick="mostrar_tarde_martes()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">add</i></a>
				</div>			


				<div class="tarde" id="martes-tarde">
					<div class=" col s12 m3 l2 ">		
						<label>
						DESDE
						<input type="text" name="horatd2" id="id_horatd2" placeholder="00:00" maxlength="5" value={{form.horatd2}}>
						</label>
					</div>
					<div class=" col s12 m3 l2 ">		
						<label>						
						HASTA
						<input type="text" name="horath2" id="id_horath2" placeholder="00:00" maxlength="5" value={{form.horath2}}>
						</label>
					</div>		
					<div class="col s2 m1" id="btn-less-martes" onclick="ocultar_tarde_martes()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">clear</i></a>
					</div>
				</div>			 		
			<!-- finaliza martes -->	

			<br><br><br><br>
	 		<!-- acá empieza miercoles -->	 	
				<div class="col s12 m3 l2">
					<h6 class="nombre-dia">Miércoles</h6>
				</div>	 		
			
				<div class=" col s12 m3 l2 ">		
					<label>			
					DESDE
						<input type="text" name="horamd3" id="id_horamd3" placeholder="00:00" maxlength="5" value={{form.horamd3}}>
					</label>
				</div>
			
				<div class=" col s12 m3 l2 ">		
					<label>
					HASTA
						<input type="text" name="horamh3" id="id_horamh3" placeholder="00:00" maxlength="5" value={{form.horamh3}}>
					</label>
				</div>
				<div class="col s2 m1" id="btn-add-miercoles" onclick="mostrar_tarde_miercoles()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">add</i></a>
				</div>			


				<div class="tarde" id="miercoles-tarde">
					<div class=" col s12 m3 l2 ">		
						<label>
						DESDE
						<input type="text" name="horatd3" id="id_horatd3" placeholder="00:00" maxlength="5" value={{form.horatd3}}>
						</label>
					</div>
					<div class=" col s12 m3 l2 ">		
						<label>						
						HASTA
						<input type="text" name="horath3" id="id_horath3" placeholder="00:00" maxlength="5" value={{form.horath3}}>
						</label>
					</div>		
					<div class="col s2 m1" id="btn-less-miercoles" onclick="ocultar_tarde_miercoles()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">clear</i></a>
					</div>
				</div>			 		
			<!-- finaliza miercoles -->	


			<br><br><br><br>
	 		<!-- acá empieza jueves -->	 	
				<div class="col s12 m3 l2">
					<h6 class="nombre-dia">Jueves</h6>
				</div>	 		
			
				<div class=" col s12 m3 l2 ">		
					<label>			
					DESDE
						<input type="text" name="horamd4" id="id_horamd4" placeholder="00:00" maxlength="5" value={{form.horamd4}}>
					</label>
				</div>
			
				<div class=" col s12 m3 l2 ">		
					<label>
					HASTA
						<input type="text" name="horamh4" id="id_horamh4" placeholder="00:00" maxlength="5" value={{form.horamh4}}>
					</label>
				</div>
				<div class="col s2 m1" id="btn-add-jueves" onclick="mostrar_tarde_jueves()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">add</i></a>
				</div>			


				<div class="tarde" id="jueves-tarde">
					<div class=" col s12 m3 l2 ">		
						<label>
						DESDE
						<input type="text" name="horatd4" id="id_horatd4" placeholder="00:00" maxlength="5" value={{form.horatd4}}>
						</label>
					</div>
					<div class=" col s12 m3 l2 ">		
						<label>						
						HASTA
						<input type="text" name="horath4" id="id_horath4" placeholder="00:00" maxlength="5" value={{form.horath4}}>
						</label>
					</div>		
					<div class="col s2 m1" id="btn-less-jueves" onclick="ocultar_tarde_jueves()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">clear</i></a>
					</div>
				</div>			 		
			<!-- finaliza jueves -->	

			<br><br><br><br>
	 		<!-- acá empieza viernes -->

				<div class="col s12 m3 l2">
					<h6 class="nombre-dia">Viernes</h6>
				</div>	 		
				<div class=" col s12 m3 l2 ">		
					<label>
					DESDE
						<input type="text" name="horamd5" id="id_horamd5" placeholder="00:00" maxlength="5" value={{form.horamd5}}>
					</label>
				</div>

				<div class=" col s12 m3 l2 ">		
					<label>
					HASTA
						<input type="text" name="horamh5" id="id_horamh5" placeholder="00:00" maxlength="5" value={{form.horamh5}}>
					</label>
				</div>
				<div class="col s2 m1" id="btn-add-viernes" onclick="mostrar_tarde_viernes()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">add</i></a>
				</div>			

				<div class="tarde" id="viernes-tarde">
					<div class=" col s12 m3 l2 ">		
						<label>
						DESDE
						<input type="text" name="horatd5" id="id_horatd5" placeholder="00:00" maxlength="5" value={{form.horatd5}}>
						</label>
					</div>

					<div class=" col s12 m3 l2 ">		
						<label>
						HASTA
						<input type="text" name="horath5" id="id_horath5" placeholder="00:00" maxlength="5" value={{form.horath5}}>						
						</label>
					</div>		
					<div class="col s2 m1" id="btn-less-viernes" onclick="ocultar_tarde_viernes()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">clear</i></a>
					</div>
				</div>			 		
			<!-- finaliza viernes -->					

			<br><br><br><br>
	 		<!-- acá empieza sabado -->

				<div class="col s12 m3 l2">
					<h6 class="nombre-dia">Sábado</h6>
				</div>	 		

				<div class=" col s12 m3 l2 ">		
					<label>
					DESDE
						<input type="text" name="horamd6" id="id_horamd6" placeholder="00:00" maxlength="5" value={{form.horamd6}}>
					</label>
				</div>
				<div class=" col s12 m3 l2 ">		
					<label>
					HASTA
						<input type="text" name="horamh6" id="id_horamh6" placeholder="00:00" maxlength="5" value={{form.horamh6}}>
					</label>
				</div>
				<div class="col s2 m1" id="btn-add-sabado" onclick="mostrar_tarde_sabado()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">add</i></a>
				</div>			

				<div class="tarde" id="sabado-tarde">
					<div class=" col s12 m3 l2 ">		
						<label>
						DESDE
						<input type="text" name="horatd6" id="id_horatd6" placeholder="00:00" maxlength="5" value={{form.horatd6}}>
						</label>
					</div>
					<div class=" col s12 m3 l2 ">		
						<label>					
						HASTA
						<input type="text" name="horath6" id="id_horath6" placeholder="00:00" maxlength="5" value={{form.horath6}}>
						</label>
					</div>		
					<div class="col s2 m1" id="btn-less-sabado" onclick="ocultar_tarde_sabado()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">clear</i></a>
					</div>
				</div>			 		
			<!-- finaliza sabado -->			

			<br><br><br><br>
	 		<!-- acá empieza domingo -->
				<div class="col s12 m3 l2">
					<h6 class="nombre-dia">Domingo</h6>
				</div>	 		
				<div class=" col s12 m3 l2 ">		
					<label>
					DESDE
						<input type="text" name="horamd7" id="id_horamd7" placeholder="00:00" maxlength="5" value={{form.horamd7}}>
					</label>
				</div>
				<div class=" col s12 m3 l2 ">		
					<label>
					HASTA
						<input type="text" name="horamh7" id="id_horamh7" placeholder="00:00" maxlength="5" value={{form.horamh7}}>
					</label>
				</div>
				<div class="col s2 m1" id="btn-add-domingo" onclick="mostrar_tarde_domingo()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">add</i></a>
				</div>			

				<div class="tarde" id="domingo-tarde">
					<div class=" col s12 m3 l2 ">		
						<label>
						DESDE
						<input type="text" name="horatd7" id="id_horatd7" placeholder="00:00" maxlength="5" value={{form.horatd7}}>
						</label>
					</div>
					<div class=" col s12 m3 l2 ">		
						<label>
						HASTA
						<input type="text" name="horath7" id="id_horath7" placeholder="00:00" maxlength="5" value={{form.horath7}}>
						</label>
					</div>		
					<div class="col s2 m1" id="btn-less-domingo" onclick="ocultar_tarde_domingo()">
						<a class="btn-floating btn-small waves-effect waves-light valign-wrapper"><i class="material-icons">clear</i></a>
					</div>
				</div>			 		
			<!-- finaliza martes -->

		<br><br><br><br>
		    <div class="row center-align">
			 	<button class="btn-large waves-effect waves-light" type="submit" name="action" value="Guardar">Guardar Cambios
					<i class="material-icons right">save</i>
				</button>
		    </div>	

	</div>
</form>


{% endblock %}

{% block script %}
<script type="text/javascript">
	function mostrar_tarde_lunes(){
		document.getElementById("lunes-tarde").style.display = "block"
		document.getElementById("btn-add-lunes").style.display = "none"
		document.getElementById("btn-less-lunes").style.display = "block"
	}

	function ocultar_tarde_lunes(){
		document.getElementById("lunes-tarde").style.display = "none"
		document.getElementById("btn-add-lunes").style.display = "block"
		document.getElementById("btn-less-lunes").style.display = "none"	
	}

	function mostrar_tarde_martes(){
		document.getElementById("martes-tarde").style.display = "block"
		document.getElementById("btn-add-martes").style.display = "none"
		document.getElementById("btn-less-martes").style.display = "block"
	}

	function ocultar_tarde_martes(){
		document.getElementById("martes-tarde").style.display = "none"
		document.getElementById("btn-add-martes").style.display = "block"
		document.getElementById("btn-less-martes").style.display = "none"	
	}

	function mostrar_tarde_miercoles(){
		document.getElementById("miercoles-tarde").style.display = "block"
		document.getElementById("btn-add-miercoles").style.display = "none"
		document.getElementById("btn-less-miercoles").style.display = "block"
	}

	function ocultar_tarde_miercoles(){
		document.getElementById("miercoles-tarde").style.display = "none"
		document.getElementById("btn-add-miercoles").style.display = "block"
		document.getElementById("btn-less-miercoles").style.display = "none"	
	}

	function mostrar_tarde_jueves(){
		document.getElementById("jueves-tarde").style.display = "block"
		document.getElementById("btn-add-jueves").style.display = "none"
		document.getElementById("btn-less-jueves").style.display = "block"
	}

	function ocultar_tarde_jueves(){
		document.getElementById("jueves-tarde").style.display = "none"
		document.getElementById("btn-add-jueves").style.display = "block"
		document.getElementById("btn-less-jueves").style.display = "none"	
	}

	function mostrar_tarde_viernes(){
		document.getElementById("viernes-tarde").style.display = "block"
		document.getElementById("btn-add-viernes").style.display = "none"
		document.getElementById("btn-less-viernes").style.display = "block"
	}

	function ocultar_tarde_viernes(){
		document.getElementById("viernes-tarde").style.display = "none"
		document.getElementById("btn-add-viernes").style.display = "block"
		document.getElementById("btn-less-viernes").style.display = "none"	
	}

	function mostrar_tarde_sabado(){
		document.getElementById("sabado-tarde").style.display = "block"
		document.getElementById("btn-add-sabado").style.display = "none"
		document.getElementById("btn-less-sabado").style.display = "block"
	}

	function ocultar_tarde_sabado(){
		document.getElementById("sabado-tarde").style.display = "none"
		document.getElementById("btn-add-sabado").style.display = "block"
		document.getElementById("btn-less-sabado").style.display = "none"	
	}

	function mostrar_tarde_domingo(){
		document.getElementById("domingo-tarde").style.display = "block"
		document.getElementById("btn-add-domingo").style.display = "none"
		document.getElementById("btn-less-domingo").style.display = "block"
	}

	function ocultar_tarde_domingo(){
		document.getElementById("domingo-tarde").style.display = "none"
		document.getElementById("btn-add-domingo").style.display = "block"
		document.getElementById("btn-less-domingo").style.display = "none"	
	}

</script>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.timepicker');
    var instances = M.Timepicker.init(elems, {twelveHour:false});
  });
</script>
{% endblock %}