{% extends "esquema.html" %}

{% block title %} {{ local.nombre }} {% endblock %}

{% block content %}

	<div class="row">
		<h6 class="titulo-local">
			{{ local.nombre }}

			<a href="#!" class="secondary-content"><i class="material-icons tooltipped grey-text" data-position="top" data-tooltip="Agregar {{ local.nombre }} a mis favoritos">star_border</i></a>
		</h6>

		<div class="caja-oferta-single z-depth-2">
			<div class="col s12 m5 l3 sin-padding">
				<div class="imagen-local">
						{% if local.imagen %}
							<img class="responsive-img" src="{{ local.imagen.url }}">
						{% else %}
						{% endif %}					
				</div>
			</div>
			<div class="col s12 m7 l9">
				<div class="data-oferta">

					<a href="#!" class="secondary-content btn-floating btn-small waves-effect waves-light tooltipped grey-text" data-position="top" data-tooltip="Editar datos de mi local"><i class="material-icons">edit</i></a>

					<p class="detalle-oferta-single" ><i class="material-icons icono-detalle-oferta">location_on</i>
						Direccion: {{ local.direccion }} </p>
					{% if local.telefono %}
						<p class="detalle-oferta-single">
							<i class="material-icons icono-detalle-oferta">phone</i>
							<a href="tel:{{ local.telefono }}">{{ local.telefono }}</a>
						</p>
					{% endif %}

					{% for medio in medios %}

						{% if medio.id == 1 %}

							<p class="detalle-oferta-single">
								<i class="material-icons icono-detalle-oferta">attach_money</i> {{medio.medio_de_pago}}
							</p>

						{% else %}

							<p class="detalle-oferta-single">
								<i class="material-icons icono-detalle-oferta">credit_card</i> {{medio.medio_de_pago}}
							</p>
						
						{% endif %}
					
					{% endfor %}

					{% if local.delivery == True %}
						<p class="detalle-oferta-single" ><i class="material-icons icono-detalle-oferta">motorcycle</i>Envío a Domicilio</p>
					{% endif %}

					{% for horario in horarios %}

						{% if hoy == horario.dia %}
							<p class="detalle-oferta-single" ><i class="material-icons icono-detalle-oferta">watch_later</i> Hoy de {{horario.hora_d1}} a {{horario.hora_h1}} {% if horario.hora_d2 %} y de {{horario.hora_d2}} a {{horario.hora_h2}} {% endif %}</p>
						{% endif %}
					{% endfor %}

				</div>
			</div>
		</div>
			
	</div>

	<div class="row">
		<div class="divider"></div>
	</div>

	<div class="row">

		<a href="#!" class="secondary-content btn-floating btn-small waves-effect waves-light"><i class="material-icons">edit</i></a>
		<h6>Horarios de atención 
		</h6>

	</div>

	<div class="row">

		{% for horario in horarios %}

			{% if hoy == horario.dia %}
				<div class="columna-dias-hoy">
					<p class="truncate">{{horario.dia}}</p>
					<p>{{horario.hora_d1}}</p>
					<p>{{horario.hora_h1}}</p>
					{% if horario.hora_d2 %}
						<div class="divider"></div>
						<p>{{horario.hora_d2}}</p>
						<p>{{horario.hora_h2}}</p>
					{% endif %}
				</div>
			{% else %}
				<div class="columna-dias">
					<p class="truncate">{{horario.dia}}</p>
					<p>{{horario.hora_d1}}</p>
					<p>{{horario.hora_h1}}</p>
					{% if horario.hora_d2 %}
						<div class="divider"></div>
						<p>{{horario.hora_d2}}</p>
						<p>{{horario.hora_h2}}</p>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}


	</div>



	<div class="row">
		<div class="divider"></div>
	</div>

	<div>
		<h6>MIs ofertas</h6>
	</div>

	{% include "publicacion/publicaciones_grid.html" with publicaciones=ofertas %}



<!-- acá tiene que poder agregar sucursal o bien oferta -->
	<div class="fixed-action-btn">
	  <a class="btn-floating btn-large red tooltipped pulse" data-position="top" data-tooltip="Agregar nueva oferta" href="{% url 'app_ofertas:nueva_oferta' user.username local.id  %}">
	    <i class="large material-icons">add</i>
	  </a>
	</div>
      

<!-- 		<a href="{% url 'app_ofertas:nueva_oferta' user.username local.id  %}" class="waves-effect">Agregar Oferta</a>
 -->

{% endblock %}

{% block script %} 

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
  });
</script>

{% endblock %}