{% extends "base_layout.html" %}

{% load static from staticfiles %}

{% block title %}	
	LOGIN
{% endblock %}

    {% block navbar %}     
    {% endblock %}      

{% block content %}

		<div class"row">
			<div class="col s12 m2 l3"></div>
			<div class="col s12 m8 l6">
				<div class="row">
					<div class="col s12 headerlogo">
				         <a href="{% url 'app_ofertas:index' %}">
							<img src="{% static 'img/offertown.png' %}">							
   				          </a>
						<p class="slogan center sin-margen">Ofertas en tu ciudad</p>


					</div>
				</div>
			</div>
			<div class="col s12 m2 l3"></div>
		</div>
		<div class="divider"></div>


	<div class="row">
		{% if messages %}
			  <div class="card-panel red lighten-2" style="border-radius: 5px;">
				<ul>
					{% for message in messages %}
						<li><h6 style="text-align: center; color: white;">{{ message }}</h6> </li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>

	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		{% if requst.GET.next %}
			<input type="hideen" name="next" value="{{ request.GET.next }}">
		{% endif %}
		<div class="center-align">
			<button class="waves-effect waves-light btn-large" type="submit"><i class="material-icons right">vpn_key</i>Ingresar</button>	
		</div>
	</form>
	{#<a href="{% url 'app_account/signup' %}"> Registrar</a>#}

	<div class="row">
		<br>
		<p class="registrate center-align">
			¿No tienes una cuanta? Registrate <a href="/signup">aquí</a>
		</p>
	</div>

{% endblock %}

{% block footer %}	
{% endblock %}

{% block js %}	
{% endblock %}