{% extends "base_layout.html" %}

{% block title %}	
	EDITAR PERFIL
{% endblock %}

<br>
{% block content %}	
	
	<form method="POST" enctype="multipart/form-data" >
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit">Confirmar</button>
	</form>
{% endblock %}


{% block script %}
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('select');
		    var instances = M.FormSelect.init(elems);
		  });
	</script>

{% endblock %}