.icon-top-bar-button {
    height: 3em;
}

.icon-top-bar-button i{
    line-height: 2em!important;
}


.txt-top-bar-button {
    line-height: 1em;
}

.icon-top-bar-button,
.txt-top-bar-button{
	text-align: center;
}

.sidenav-trigger{
	display: block!important;
}

/* helpers */
.sin-margen{
	margin: 0!important;
}

.sin-padding{
	padding: 0!important;
}

.titulo-lista{
	margin: 5px auto 0;
}


/* inicio grid ofertas */
.caja-oferta-list,
.caja-oferta-grid{
	border: solid 1px lightgrey;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 10px;
}

.imagen-oferta-grid{
	height: 160px;
}

.imagen-oferta-grid img{
	height: 100%;
	width:auto;
	margin: 0 auto;
}

.data-oferta-grid{
	height: 110px;
	padding: 0 3px;
}

.data-oferta-list,
.data-oferta{
	padding: 3px;
}

.titulo-oferta-grid{
	font-size: 1.3em;
	line-height: 1em;
	margin: 2px auto;
}
.precio-regular-grid{
	color: gray;
	font-size: .9em;
	text-decoration: line-through;
	margin: 0 auto;
}
.precio-oferta-grid{
	color: black;
	font-size: 1.5em;
	line-height: 1em;
	margin: 0 auto;
}
.detalle-oferta-grid{
	margin: 3px auto;
	color: #606060;
	line-height: 1.2em;
}

.caja-oferta-grid:hover{
	border:solid 1px #959595;
}

.delivery{
	position: absolute;
	background-color: white;
	padding: 0 3px;
	border: solid 1px grey;
	border-radius: 50%;
	bottom: -3px;
	right: 5px;
}

.delivery-list .envio,
.delivery .envio{
	color: grey;
	vertical-align: middle;
}



/* ofertas listado una columna */
.caja-oferta-list1col{

}

.titulo-oferta-list{
	font-size: 1.4em;
	line-height: 1em;
	margin: 2px auto;	
}

.precio-regular-list{
	color: gray;
	font-size: .9em;
	text-decoration: line-through;
	margin: 0 auto;
}
.precio-oferta-list{
	color: black;
	font-size: 1.5em;
	line-height: 1em;
	margin: 0 auto;
}
.detalle-oferta-list{
	margin: 3px auto;
	color: #606060;
	line-height: 1.2em;
}

.caja-oferta-list{
	position: relative;
}

.delivery-list{
	position: absolute;
	background-color: white;
	padding: 0 3px;
	border: solid 1px grey;
	border-radius: 50%;
	bottom: 5px;
	right: 5px;
}

.icono-detalle-oferta{
	vertical-align: bottom;
	font-size: 1.3em;
}

.item-lista{
	margin-bottom: 5px;
}


/* inicio single oferta */
.breadcru{
	margin: 0 auto 5px;
}

.caja-oferta-single{
	border: solid 1px lightgrey;
	border-radius: 3px;
	overflow: hidden;
}

.imagen-oferta{	
	position: relative;
}

.imagen-oferta img{
	width: 100%;
}

.data-oferta-list,
.data-oferta{
	padding: 3px;
}

.titulo-oferta-single{
	font-size: 1.3em;
	line-height: 1em;
	margin: 2px auto;
}
.precio-regular-single{
	color: gray;
	font-size: .9em;
	text-decoration: line-through;
	margin: 0 auto;
}
.precio-oferta-single{
	color: black;
	font-size: 1.5em;
	line-height: 1em;
	margin: 0 auto;
}
.detalle-oferta-single{
	margin: 3px auto;
	color: #606060;
	line-height: 1.2em;
}



.delivery{
	position: absolute;
	background-color: white;
	padding: 0 3px;
	border: solid 1px grey;
	border-radius: 50%;
	bottom: -3px;
	right: 5px;
}

.delivery-list .envio,
.delivery .envio{
	color: grey;
	vertical-align: middle;
}



/* listado de rubros */
.caja-rubro-grid{
	border: solid 1px lightgrey;
	overflow: hidden;
	padding: 5%;
}

.caja-rubro-grid:hover{
	background-color: #e1f5fe;
}


.caja-rubro-grid a{
	line-height: 0;
}

.imagen-rubro img{
	max-width: 30%;
	display: block;
	margin: auto;
	padding-top: .6em;
}

.data-rubro{
	padding: 3px;
	text-align: center;
}

.titulo-rubro-grid{

}