{% extends "esquema.html" %}

{% block title %} Alta Publicacion {% endblock %}

{% block content %}
<form action="/agregar_publicacion/" method="POST">
    
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Guardar"/>

</form>

{% endblock %}

{% block script %}
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('select');
	    var instances = M.FormSelect.init(elems);
	  });
</script>
{% endblock %}