{% extends "esquema.html" %}

{% block title %} Alta Publicacion {% endblock %}

{% block content %}
<style type="text/css">
	#image-preview-area img{
		width: 200px;
	}
</style>
<div id="image-preview-area"></div>
<form action="/agregar_publicacion/" method="POST">
    
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Guardar"/>

</form>

{% endblock %}

{% block script %}
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('select');
	    var instances = M.FormSelect.init(elems);
	  });
</script>

<script type="text/javascript">
	    function readFile(input) {
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	 
	            reader.onload = function (e) {
	                var imagePreview = document.createElement('img');
	                imagePreview.id = 'image-preview';
	                
	                imagePreview.src = e.target.result;
	 
	                var previewArea = document.getElementById('image-preview-area');

									while(previewArea.firstChild) {
											previewArea.removeChild(previewArea.firstChild);
										}                
									
	                previewArea.appendChild(imagePreview);
	            }
	 
	            reader.readAsDataURL(input.files[0]);
	        }
	    }
	 
	    var imageUpload = document.getElementById('id_imagen');
	    imageUpload.onchange = function (e) {
	        readFile(e.srcElement);
	    }	
</script>
{% endblock %}