{% extends "esquema.html" %}

{% block title %} {{pub.titulo}} {% endblock %}

{% block content %}
<div class="row breadcru">
	<a href="/rubro/{{pub.rubro.id}}">{{ pub.rubro }}></a>
	<a href="#!" class="secondary-content"><i class="material-icons tooltipped grey-text" data-position="top" data-tooltip="Agregar {{ pub.rubro }} a mis intereses">favorite_border</i></a>

</div>

	<div class="row">

		<div class="caja-oferta-single z-depth-2">
				
			<div class="col s12 m6 l8 sin-padding">
				<div class="imagen-oferta">
					{% if pub.imagen %}
						<img class="responsive-img" src="{{ pub.imagen.url }}">
					{% else %}
					{% endif %}
					<span class="porcentaje_descuento">{{ pub.get_descuento }}% <br>OFF</span>
				</div>
			</div>
				<!-- <div class="divider"></div> -->
			<div class="col s12 m6 l4">
				<div class="data-oferta">
					<p class="titulo-oferta-single" >{{ pub.titulo }} </p>
					<p class="precio-regular-single">${{ pub.precio_regular }}</p>
					<p class="precio-oferta-single"> ${{ pub.precio_oferta }}</p>
					<p class="detalle-oferta-single"> {{ pub.detalle }}</p>
					<h6 class="center-align">
						<span><i class="material-icons tiny">account_box</i></span>
						<a href="/loc/{{ pub.local.id }}/"><strong>Sobre el vendedor</strong></a>
					</h6>
					<p class="detalle-oferta-single">
						<i class="material-icons icono-detalle-oferta">store</i> {{ pub.local.nombre }}
						<a href="#!" class="secondary-content"><i class="material-icons tooltipped grey-text" data-position="top" data-tooltip="Agregar {{ pub.local.nombre }} a mis favoritos">star_border</i></a>
					</p>
					<p class="detalle-oferta-single">
						<i class="material-icons icono-detalle-oferta">room</i> {{ pub.local.direccion }}
					</p>
					<p class="detalle-oferta-single">
						<i class="material-icons icono-detalle-oferta">map</i> {{ pub.local.localidad }}
					</p>
					<p class="detalle-oferta-single">
						<i class="material-icons icono-detalle-oferta">payment</i> {{ pub.local.metodo_pago }}
					</p>

					{% if pub.local.delivery %}
					<p class="detalle-oferta-single">
						<i class="material-icons icono-detalle-oferta">motorcycle</i> Entrega a domicilio
					</p>
					{% endif %}

					<p class="center-align">
						<a href="#">más ofertas del vendedor</a>
					</p>
					
					
					



				</div>
			</div>
			
		</div>
	</div>

	<div class="row">
		<div class="divider"></div>
	</div>
	<div>
		<h6>relacionados</h6>
	</div>

	{% include "publicacion/publicaciones_grid.html" with publicaciones=relacionados %}


{% endblock %}