{% extends "esquema.html" %}

{% load static from staticfiles %}

{% block title %} rubro {% endblock %}

{% block content %}


	<!-- busquedas -->
	<div class="row">
		<!-- metodo get, al /search -->
		{% include '../search/search_form.html' %}
	</div>

	<div class="row sin-margen">
		{{rubro.nombre}} ({{cantidad}})	{% include 'rubro/interes_rubro.html' with rubro=rubro  %}
	</div>

	{% if publicaciones %}

		{# manda al template publicacion/publicaciones_listado #}
		{% include "publicacion/publicaciones_grid.html" with publicaciones=publicaciones %}
	{% else %}

		<div class="row center-align">
			<img class="responsive-img stiker" src="{% static 'img/sin-ofertas.svg' %}">
			<h6>En este momento no hay ofertas activas de {{rubro.nombre}}, vuelve más tarde. O agregala a tus <strong>Intereses</strong> para ser el primero en recibirlas.</h6>
		</div>

	{% endif %}	


{%endblock%}