{% extends "esquema.html" %}

{% block title %}Favoritos{% endblock %}

{% block content %}
	<!-- busquedas -->
	<div class="row">
		<!-- metodo get, al /search -->
		{% include 'search/search_form.html' %}
	</div>


	{% if locales.count > 0%}
		<div class="row">
			<h6>Favoritos</h6>
		</div>
		{% for local in locales %}
			<div class="divider"></div>
			<div class="row">
				{{local.nombre}}
			</div>
			{% include "publicacion/publicaciones_grid.html" with publicaciones=local.get_ofertas_activas %}
			<div class="divider"></div>
		{% endfor %}
		
	{%else%}
		<div class="row">
			<h5 class="center-align">Aún no tienes Tiendas favoritas</h5>
			<p class="center-align">Cuando estés viendo una oferta o una tienda. Hacé click en <i class="material-icons tiny">star_border</i> y recordaremos cuales son las tiendas que te gustan para que seas el primero en ver sus nuevas ofertas</p>
			<p class="center-align">
				<a href="{% url 'app_ofertas:index'  %}"><i class="material-icons large red-text">star</i>
				</a>
			</p>
		</div>	
	{%endif%}



{% endblock %}