{% extends "esquema.html" %}

{% block title %}Tendencias{% endblock %}

{% block content %}
	<!-- busquedas -->
	<div class="row">
		<!-- metodo get, al /search -->
		{% include 'search/search_form.html' %}
	</div>

	<div class="row">
		<h6>Favoritos</h6>
	</div>

	{% if locales.count > 0%}
		{% for local in locales %}
			<div class="divider"></div>
			<div class="row">
				{{local.nombre}}
			</div>
			{% include "publicacion/publicaciones_grid.html" with publicaciones=local.get_ofertas_activas %}
			<div class="divider"></div>
		{% endfor %}
		
	{%else%}
		<div class="row">
			<h6>No tiene locales agregado a favoritos</h6>
		</div>
	{%endif%}



{% endblock %}