{% extends "esquema.html" %}

{% block title %}Tendencias{% endblock %}

{% block content %}
	<!-- busquedas -->
	<div class="row">
		<!-- metodo get, al /search -->
		{% include 'search/search_form.html' %}
	</div>

	<div class="row">
		<h6>Intereses</h6>
	</div>

	{% for categoria in rubros %}
		<div class="divider"></div>
		<div class="row">
			{{categoria.nombre}}
		</div>
		{% include "publicacion/publicaciones_grid.html" with publicaciones=categoria.publicaciones.all %}
		<div class="divider"></div>
	{% endfor %}

{% endblock %}