{% extends "esquema.html" %}

{% block title %}Tendencias{% endblock %}

{% block content %}
	<!-- busquedas -->
	<div class="row">
		<!-- metodo get, al /search -->
		{% include 'search/search_form.html' %}
	</div>

	<div class="row">
		<h6>Intereses</h6>
	</div>


	{% if rubros.count > 0 %}
		{% for categoria in rubros %}
			<div class="divider"></div>
			<div class="row">
				{{categoria.nombre}}
			</div>
			{% include "publicacion/publicaciones_grid.html" with publicaciones=categoria.get_ofertas_activas %}
			<div class="divider"></div>
		{% endfor %}
	{% else %}
		<div class="row">
			<h6>No tiene Rubros agregado a intereses</h6>
			<p>
				visite <a href="/set_intereses/">Agregar Intereses</a>
			</p>
		</div>	
	{% endif %}

{% endblock %}