{% load static from staticfiles %}
  <!DOCTYPE html>
  <html>
    <head>

      <meta charset="UTF-8">


      <!--Import Google Icon Font-->
      <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Estilos del sistema-->
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title> {% block title %}{% endblock %}</title>
    </head>

    <body>


    {% block navbar %} 
      

    {% endblock %}      
      

  <div class="container">

      {% block content %}
      {% endblock %}


  </div>        


    </body>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });
    </script>

    <script type="text/javascript">
      {% block script %} {% endblock %}
    </script>


  </html>